---
export interface Props {
    large?: boolean
}

const {large} = Astro.props;
---

<a
href="https://docs.astro.build/"
class:list={[
    "flex items-center justify-center gap-3 border-2 border-current px-5 py-3",
    large &&  "font-bold text-xl",
    ]}
>
<slot name="icon" class="size-8" />
<span><slot/></span>
</a>